# Vivado
*.jou
*.log
*.pb
*.dcp
*.bit
*.bin
*.exo
*.mcs
*.prm
*.sys
*.mif
*.coe
*.xpr.zip
.Xil/
vivado_pid*.str
*.str
*.os
*.jou
*.wdb
*.wcfg
*.sysdef
*.hwdef
*.swa
*.ltx
*.xsa
*.bit
*.vda
*.vo
*.vh
*.rbt
*.rbd
*.out
*.tcl
*.lst
*.dat
*.mem
*.diff
*.csv
*.rpt
*.xml
*.html
*.pdf
*.txt
# Xilinx IP
*.xci
*.xml
*.xsl
*.xco
*.cgp
*.cgc
*.coe
*.mif
*.xcu
*.bxml
*.pfm
*.spt
*.bmm
*.ngc
*.ngd
*.bld
*.mrp
*.ncd
# Keil / STM32
*.uvoptx
*.uvguix.*
*.uvgui.*
*.sct
*.map
*.lst
*.dep
*.o
*.d
*.crf
*.iex
*.htm
*.lnp
*.plg
*.bak
*.obj
*.lib
*.hex
*.axf
*.build_log.htm
RTE/
DebugConfig/
Listings/
Objects/
# VS Code
.vscode/
*.code-workspace
# OS
.DS_Store
Thumbs.db
ehthumbs.db
